table.MuiTable-root {
  margin: 2rem 0;
  background: rgb(145, 212, 194);
  background: linear-gradient(
    132deg,
    rgba(145, 212, 194, 1) 0%,
    rgba(69, 187, 137, 1) 100%
  );
  border-radius: 0.2rem;
}
div.MuiTablePagination-input,
p.MuiTablePagination-selectLabel {
  display: none;
}

td.MuiTableCell-root {
  border: none;
}

tr {
  width: 100%;
}

td {
  width: 50%;
}

tbody tr.MuiTableRow-root:nth-child(odd):not(:last-child) {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

tbody tr.MuiTableRow-root:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
